@import url('https://fonts.googleapis.com/css?family=Poor+Story&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poor Story', cursive;
}

html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
       
}

body{
    background-color: #fff;
}

header, main, footer {
    margin: 0px auto;
}

header, footer{
    /* background-image: url('../images/bgheader.png'); */
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#stickers-bar{
    padding: 5px;
    border-bottom: 1px solid #c1c1c1;
    background-color: #fff;
}

h1{
    font-size: 2.5rem; 
    font-weight: bold;
    color: brown;
    text-shadow: #c1c1c1 2px 1px 0;
}


main {
    width: 100%;
    font-size: 22px;
}

section{
    margin: 10px auto 10px auto;
    text-align: center;
    
}
#buttons{
    background-image: url('../images/background.png');
    margin: 0 auto;
}

#stickers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    margin: 5px 10px;
    border: 0px solid #c1c1c1;
    padding: 10px;
    border-radius: 10px;
}

figcaption{
    padding-top: 5px;
    border-top: 1px solid #c1c1c1;
    text-align: left;
}

figcaption button{
    border: 0;
    margin: 2px 5px;
    color: #027aff;
    background-color: transparent;
}

img{
    height: 100px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}


footer{
    padding: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 100%;
}

#button-more{
    display: none;
    margin: 10px auto;
}